# Arquivos de Ambiente
.env

# Banco de Dados Local
db.sqlite3

# Dependências e Ambientes Virtuais
venv/
env/
pip-log.txt

# Caches e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações de IDEs e Editores
.idea/
.vscode/
*.swp