# Core e API
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-spectacular

# Produção
gunicorn
whitenoise

# Banco de Dados e Ambiente
psycopg2-binary
python-dotenv

# Ciência de Dados e Química
rdkit
pandas
openpyxl

# Utilidades
ipython